:root {
  --git-color-primary: #fb4f28;
  --git-color-secondary: #413932;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--git-color-secondary);
  display: flex;
  flex-direction: column;
}

.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #dcdcdc;
  padding: 1rem 3rem;
  border-bottom: 4px solid var(--git-color-secondary);
}

.header-logo > img {
  width: 100px;
}

.header-menus {
  display: flex;
  gap: 0.6rem;
}

.header-menus > a {
  text-decoration: none;
  color: var(--git-color-secondary);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: 2px solid var(--git-color-primary);
  border-radius: 0.5rem;
}

.header-menus > a:hover {
  background-color: var(--git-color-primary);
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  margin-top: 94px;
  padding: 2rem 3rem 6rem 3rem;
}

.main-title > h1 {
  font-size: 1.5rem;
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.questions span:first-child {
  font-weight: 600;
}

.questions > p {
  line-height: 1.5rem;
  text-align: justify;
}

.table-container {
  border-collapse: collapse;
}

.table-container > thead > tr {
  background-color: var(--git-color-secondary);
  color: #fff;
}

.table-container th,
.table-container td {
  padding: 0.8rem 0;
  font-size: 0.9rem;
}

.table-container td {
  border-bottom: 1px solid var(--git-color-secondary);
}

.table-container th:first-child,
.table-container td:first-child {
  width: 30%;
}

.footer-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem;
  background-color: var(--git-color-secondary);
  color: #fff;
}

.footer-developed {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  color: #fff;
}

.footer-developed > i {
  font-size: 1.3rem;
}

.link-in-text {
  text-decoration: none;
  font-weight: 500;
  color: #4682b4;
}
